@page
@model AdicionarModel
@{
    ViewData["Title"] = "Adicionar";
}

<div class="text-center">
    <h1 class="display-4">Adicionar Novo Agendamento:</h1>
    
    <form method="post">
        <p>Id:</p>
        <input type="number" name="id" />

        <p>Nome:</p>
        <input type="text" name="nome" />

        <p>Telefone:</p>
        <input type="text" name="telefone" mask="(xx) xxxxx-xxxx" />

        <p>Data:</p>
        <input type="date" name="dataAgendamento" />
        
        <p>Observações:</p>
        <input type="text" name="observacoes" />

        <button type="submit">Adicionar</button>

    </form>

</div>
