@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="app.css" type="text/css" />
</head>

<div class="text-center">
    <h1 class="display-4">CRUD para agendamentos!</h1>
    <p class="subtitulo">Selecione uma das opções abaixo:</p>

    <div class="botao-div">    
        <a class="botao" href="./Adicionar">Adicionar</a>
        <a class="botao" href="./Visualizar">Visualizar</a>
    </div>
</div>
